<header>
    <% if (!!locals.reviewer) { %>
        <nav class="navbar bg-light">
            <div class="container-fluid">
                <div>
                    <i class="bi bi-person-fill"></i>
                    <span class="navbar-brand mb-0 h1">
                        <%- locals.reviewer.name %>
                    </span>
                </div>
                <div class="ms-auto">
                    <span>
                        Instances Reviewed:
                    </span>
                    <span class="font-monospace">
                        <%- locals.reviewer.progress || 0 %>
                    </span>
                </div>
            </div>
        </nav>
    <% } %>
</header>