<header class="mb-3">
    <% if (!!locals.reviewer) { %>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <button type="button"
                        class="navbar-toggler"
                        data-bs-toggle="collapse"
                        data-bs-target="#reviewer-navigation-dropdown"
                        aria-controls="reviewer-navigation-dropdown"
                        aria-label="Toggle navigation"
                        aria-expanded="false"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="reviewer-navigation-dropdown" class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-fill"></i>
                                <span class="navbar-brand m-0 h1">
                                    <%- locals.reviewer.name %>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/progress">Progress</a></li>
                                <li><a class="dropdown-item" href="/login">Login</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="d-flex">
                    <span>Instances Reviewed:</span>
                    <span class="font-monospace">
                        <%- locals.reviewer.progress || 0 %>
                    </span>
                </div>
            </div>
        </nav>
    <% } %>
</header>